body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-28px;
  width:884px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u18521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:60px;
  background:inherit;
  background-color:rgba(2, 125, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u18521 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:233px;
  width:106px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u18521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:60px;
  background:inherit;
  background-color:rgba(2, 125, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u18522 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:233px;
  width:114px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u18522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:60px;
  background:inherit;
  background-color:rgba(2, 125, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u18523 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:233px;
  width:114px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u18523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
}
#u18524 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:247px;
  width:81px;
  height:33px;
  display:flex;
}
#u18524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
}
#u18525 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:247px;
  width:81px;
  height:33px;
  display:flex;
}
#u18525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18526_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u18526 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:261px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u18526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18527_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u18527 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:263px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u18527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18528_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u18528 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:261px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u18528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18529_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u18529 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:261px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u18529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:60px;
  background:inherit;
  background-color:rgba(2, 125, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u18530 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:234px;
  width:106px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u18530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18531_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u18531 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:259px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u18531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
