body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-53px;
  width:448px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3192 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:67px;
  width:421px;
  height:150px;
}
#u3193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u3193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u3194 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:0px;
  width:112px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u3195 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:0px;
  width:86px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u3196 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:0px;
  width:94px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u3197 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:0px;
  width:76px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u3198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:53px;
  height:30px;
  display:flex;
}
#u3198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u3199 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:30px;
  width:112px;
  height:30px;
  display:flex;
}
#u3199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u3200 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:30px;
  width:86px;
  height:30px;
  display:flex;
}
#u3200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u3201 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:30px;
  width:94px;
  height:30px;
  display:flex;
}
#u3201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u3202 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:30px;
  width:76px;
  height:30px;
  display:flex;
}
#u3202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u3203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:53px;
  height:30px;
  display:flex;
}
#u3203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u3204 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:60px;
  width:112px;
  height:30px;
  display:flex;
}
#u3204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u3205 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:60px;
  width:86px;
  height:30px;
  display:flex;
}
#u3205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u3206 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:60px;
  width:94px;
  height:30px;
  display:flex;
}
#u3206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u3207 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:60px;
  width:76px;
  height:30px;
  display:flex;
}
#u3207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u3208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:53px;
  height:30px;
  display:flex;
}
#u3208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u3209 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:90px;
  width:112px;
  height:30px;
  display:flex;
}
#u3209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u3210 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:90px;
  width:86px;
  height:30px;
  display:flex;
}
#u3210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u3211 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:90px;
  width:94px;
  height:30px;
  display:flex;
}
#u3211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u3212 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:90px;
  width:76px;
  height:30px;
  display:flex;
}
#u3212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u3213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:53px;
  height:30px;
  display:flex;
}
#u3213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u3214 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:120px;
  width:112px;
  height:30px;
  display:flex;
}
#u3214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u3215 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:120px;
  width:86px;
  height:30px;
  display:flex;
}
#u3215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u3216 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:120px;
  width:94px;
  height:30px;
  display:flex;
}
#u3216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u3217 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:120px;
  width:76px;
  height:30px;
  display:flex;
}
#u3217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3218 label {
  left:0px;
  width:100%;
}
#u3218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3218 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:106px;
  width:16px;
  height:12px;
  display:flex;
}
#u3218 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3218_img.selected {
}
#u3218.selected {
}
#u3218_img.disabled {
}
#u3218.disabled {
}
#u3218_img.selectedDisabled {
}
#u3218.selectedDisabled {
}
#u3218_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3218_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3219 label {
  left:0px;
  width:100%;
}
#u3219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3219 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:137px;
  width:16px;
  height:12px;
  display:flex;
}
#u3219 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3219_img.selected {
}
#u3219.selected {
}
#u3219_img.disabled {
}
#u3219.disabled {
}
#u3219_img.selectedDisabled {
}
#u3219.selectedDisabled {
}
#u3219_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3219_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
