body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-121px;
  width:669px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:43px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  text-align:center;
}
#u13068 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:477px;
  width:123px;
  height:43px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u13068 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  text-align:center;
}
#u13069 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:220px;
  width:123px;
  height:43px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u13069 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  text-align:center;
}
#u13070 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:294px;
  width:123px;
  height:43px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u13070 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  text-align:center;
}
#u13071 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:369px;
  width:123px;
  height:43px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u13071 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  text-align:center;
}
#u13072 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:294px;
  width:123px;
  height:43px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u13072 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13073 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:242px;
  width:0px;
  height:0px;
}
#u13073_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:50px;
  height:10px;
}
#u13073_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-5px;
  width:10px;
  height:84px;
}
#u13073_seg2 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:69px;
  width:19px;
  height:10px;
}
#u13073_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13074 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:316px;
  width:0px;
  height:0px;
}
#u13074_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:65px;
  height:10px;
}
#u13074_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13075 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:391px;
  width:0px;
  height:0px;
}
#u13075_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:51px;
  height:10px;
}
#u13075_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-80px;
  width:10px;
  height:85px;
}
#u13075_seg2 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-80px;
  width:19px;
  height:10px;
}
#u13075_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  text-align:center;
}
#u13076 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:438px;
  width:123px;
  height:43px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u13076 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  text-align:center;
}
#u13077 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:512px;
  width:123px;
  height:43px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u13077 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  text-align:center;
}
#u13078 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:581px;
  width:123px;
  height:43px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u13078 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  text-align:center;
}
#u13079 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:411px;
  width:123px;
  height:43px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u13079 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  text-align:center;
}
#u13080 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:544px;
  width:123px;
  height:43px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u13080 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13081 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:460px;
  width:0px;
  height:0px;
}
#u13081_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:51px;
  height:10px;
}
#u13081_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-32px;
  width:10px;
  height:37px;
}
#u13081_seg2 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-32px;
  width:19px;
  height:10px;
}
#u13081_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13082 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:534px;
  width:0px;
  height:0px;
}
#u13082_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:61px;
  height:10px;
}
#u13082_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-5px;
  width:10px;
  height:42px;
}
#u13082_seg2 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:27px;
  width:18px;
  height:10px;
}
#u13082_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13083 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:603px;
  width:0px;
  height:0px;
}
#u13083_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:61px;
  height:10px;
}
#u13083_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-42px;
  width:10px;
  height:47px;
}
#u13083_seg2 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-42px;
  width:18px;
  height:10px;
}
#u13083_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  text-align:center;
}
#u13084 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:359px;
  width:123px;
  height:43px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u13084 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  text-align:center;
}
#u13085 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:581px;
  width:123px;
  height:43px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u13085 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13086 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:566px;
  width:0px;
  height:0px;
}
#u13086_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:39px;
  height:10px;
}
#u13086_seg1 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-5px;
  width:10px;
  height:47px;
}
#u13086_seg2 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:32px;
  width:24px;
  height:10px;
}
#u13086_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:3px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13087 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:433px;
  width:0px;
  height:0px;
}
#u13087_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:38px;
  height:10px;
}
#u13087_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-57px;
  width:10px;
  height:62px;
}
#u13087_seg2 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-57px;
  width:24px;
  height:10px;
}
#u13087_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-27px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13088 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:316px;
  width:0px;
  height:0px;
}
#u13088_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:38px;
  height:10px;
}
#u13088_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-5px;
  width:10px;
  height:75px;
}
#u13088_seg2 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:60px;
  width:24px;
  height:10px;
}
#u13088_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13089 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:603px;
  width:0px;
  height:0px;
}
#u13089_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:43px;
  height:10px;
}
#u13089_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-109px;
  width:10px;
  height:114px;
}
#u13089_seg2 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-109px;
  width:22px;
  height:10px;
}
#u13089_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-50px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13090 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:381px;
  width:0px;
  height:0px;
}
#u13090_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:53px;
  height:10px;
}
#u13090_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-5px;
  width:10px;
  height:128px;
}
#u13090_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:113px;
  width:22px;
  height:10px;
}
#u13090_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  text-align:center;
}
#u13091 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:612px;
  width:123px;
  height:43px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u13091 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13092 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:634px;
  width:0px;
  height:0px;
}
#u13092_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:39px;
  height:10px;
}
#u13092_seg1 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-36px;
  width:10px;
  height:41px;
}
#u13092_seg2 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-36px;
  width:24px;
  height:10px;
}
#u13092_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
