body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-28px;
  width:884px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:60px;
  background:inherit;
  background-color:rgba(2, 125, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28853 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:233px;
  width:106px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u28853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:60px;
  background:inherit;
  background-color:rgba(2, 125, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28854 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:233px;
  width:114px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u28854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:60px;
  background:inherit;
  background-color:rgba(2, 125, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28855 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:233px;
  width:114px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u28855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
}
#u28856 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:247px;
  width:81px;
  height:33px;
  display:flex;
}
#u28856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
}
#u28857 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:247px;
  width:81px;
  height:33px;
  display:flex;
}
#u28857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28858_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u28858 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:261px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u28858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28859_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u28859 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:263px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u28859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28860_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u28860 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:261px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u28860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28861_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u28861 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:261px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u28861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:60px;
  background:inherit;
  background-color:rgba(2, 125, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28862 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:234px;
  width:106px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u28862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28863_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u28863 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:259px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u28863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
