body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-28px;
  width:884px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u29950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:60px;
  background:inherit;
  background-color:rgba(2, 125, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u29950 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:233px;
  width:106px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u29950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:60px;
  background:inherit;
  background-color:rgba(2, 125, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u29951 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:233px;
  width:114px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u29951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:60px;
  background:inherit;
  background-color:rgba(2, 125, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u29952 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:233px;
  width:114px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u29952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
}
#u29953 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:247px;
  width:81px;
  height:33px;
  display:flex;
}
#u29953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
}
#u29954 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:247px;
  width:81px;
  height:33px;
  display:flex;
}
#u29954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29955_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u29955 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:261px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u29955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29956_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u29956 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:263px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u29956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29957_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u29957 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:261px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u29957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29958_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u29958 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:261px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u29958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:60px;
  background:inherit;
  background-color:rgba(2, 125, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u29959 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:234px;
  width:106px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u29959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29960_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u29960 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:259px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u29960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
