body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-28px;
  width:884px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u27966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:60px;
  background:inherit;
  background-color:rgba(2, 125, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u27966 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:233px;
  width:106px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u27966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:60px;
  background:inherit;
  background-color:rgba(2, 125, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u27967 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:233px;
  width:114px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u27967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:60px;
  background:inherit;
  background-color:rgba(2, 125, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u27968 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:233px;
  width:114px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u27968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
}
#u27969 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:247px;
  width:81px;
  height:33px;
  display:flex;
}
#u27969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
}
#u27970 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:247px;
  width:81px;
  height:33px;
  display:flex;
}
#u27970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27971_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u27971 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:261px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u27971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27972_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u27972 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:263px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u27972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27973_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u27973 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:261px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u27973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27974_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u27974 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:261px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u27974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:60px;
  background:inherit;
  background-color:rgba(2, 125, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u27975 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:234px;
  width:106px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u27975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27976_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u27976 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:259px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.337317287529404deg);
  -moz-transform:rotate(-0.337317287529404deg);
  -ms-transform:rotate(-0.337317287529404deg);
  transform:rotate(-0.337317287529404deg);
}
#u27976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
