body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-327px;
  width:844px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u21307 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:181px;
  width:643px;
  height:141px;
}
#u21308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u21308 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u21308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u21309 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u21309 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u21310 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u21310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u21311 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u21311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u21312 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u21312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:28px;
}
#u21313 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:143px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u21313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u21314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  height:27px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u21314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u21315 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:28px;
  width:100px;
  height:27px;
  display:flex;
}
#u21315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u21316 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:28px;
  width:100px;
  height:27px;
  display:flex;
}
#u21316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u21317 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:28px;
  width:100px;
  height:27px;
  display:flex;
}
#u21317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u21318 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:28px;
  width:100px;
  height:27px;
  display:flex;
}
#u21318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:27px;
}
#u21319 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:28px;
  width:143px;
  height:27px;
  display:flex;
}
#u21319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u21320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21321 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:55px;
  width:100px;
  height:30px;
  display:flex;
}
#u21321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21322 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:55px;
  width:100px;
  height:30px;
  display:flex;
}
#u21322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21323 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:55px;
  width:100px;
  height:30px;
  display:flex;
}
#u21323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21324 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:55px;
  width:100px;
  height:30px;
  display:flex;
}
#u21324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u21325 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:55px;
  width:143px;
  height:30px;
  display:flex;
}
#u21325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u21326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21327 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:85px;
  width:100px;
  height:30px;
  display:flex;
}
#u21327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21328 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:85px;
  width:100px;
  height:30px;
  display:flex;
}
#u21328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21329 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:85px;
  width:100px;
  height:30px;
  display:flex;
}
#u21329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21330 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:85px;
  width:100px;
  height:30px;
  display:flex;
}
#u21330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u21331 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:85px;
  width:143px;
  height:30px;
  display:flex;
}
#u21331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:115px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u21332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21333 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:115px;
  width:100px;
  height:30px;
  display:flex;
}
#u21333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21334 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:115px;
  width:100px;
  height:30px;
  display:flex;
}
#u21334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21335 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:115px;
  width:100px;
  height:30px;
  display:flex;
}
#u21335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21336 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:115px;
  width:100px;
  height:30px;
  display:flex;
}
#u21336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u21337 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:115px;
  width:143px;
  height:30px;
  display:flex;
}
#u21337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21338 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:413px;
  width:56px;
  height:16px;
  display:flex;
}
#u21338 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21338_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21339_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21339_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21339 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:410px;
  width:106px;
  height:22px;
  display:flex;
}
#u21339 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21339_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21339.disabled {
}
.u21339_input_option {
}
#u21340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21340 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:416px;
  width:56px;
  height:16px;
  display:flex;
}
#u21340 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21340_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21341_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21341_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21341 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:413px;
  width:106px;
  height:22px;
  display:flex;
}
#u21341 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21341_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21341.disabled {
}
.u21341_input_option {
}
