body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-327px;
  width:844px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u23578 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:181px;
  width:643px;
  height:141px;
}
#u23579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u23579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u23579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u23580 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u23580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u23581 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u23581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u23582 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u23582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u23583 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u23583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:28px;
}
#u23584 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:143px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u23584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u23585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  height:27px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u23585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u23586 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:28px;
  width:100px;
  height:27px;
  display:flex;
}
#u23586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u23587 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:28px;
  width:100px;
  height:27px;
  display:flex;
}
#u23587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u23588 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:28px;
  width:100px;
  height:27px;
  display:flex;
}
#u23588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u23589 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:28px;
  width:100px;
  height:27px;
  display:flex;
}
#u23589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:27px;
}
#u23590 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:28px;
  width:143px;
  height:27px;
  display:flex;
}
#u23590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u23591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23592 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:55px;
  width:100px;
  height:30px;
  display:flex;
}
#u23592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23593 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:55px;
  width:100px;
  height:30px;
  display:flex;
}
#u23593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23594 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:55px;
  width:100px;
  height:30px;
  display:flex;
}
#u23594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23595 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:55px;
  width:100px;
  height:30px;
  display:flex;
}
#u23595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u23596 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:55px;
  width:143px;
  height:30px;
  display:flex;
}
#u23596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u23597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23598 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:85px;
  width:100px;
  height:30px;
  display:flex;
}
#u23598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23599 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:85px;
  width:100px;
  height:30px;
  display:flex;
}
#u23599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23600 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:85px;
  width:100px;
  height:30px;
  display:flex;
}
#u23600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23601 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:85px;
  width:100px;
  height:30px;
  display:flex;
}
#u23601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u23602 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:85px;
  width:143px;
  height:30px;
  display:flex;
}
#u23602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:115px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u23603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23604 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:115px;
  width:100px;
  height:30px;
  display:flex;
}
#u23604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23605 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:115px;
  width:100px;
  height:30px;
  display:flex;
}
#u23605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23606 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:115px;
  width:100px;
  height:30px;
  display:flex;
}
#u23606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23607 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:115px;
  width:100px;
  height:30px;
  display:flex;
}
#u23607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u23608 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:115px;
  width:143px;
  height:30px;
  display:flex;
}
#u23608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23609 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:413px;
  width:56px;
  height:16px;
  display:flex;
}
#u23609 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23609_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23610_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u23610_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u23610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23610 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:410px;
  width:106px;
  height:22px;
  display:flex;
}
#u23610 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23610_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23610.disabled {
}
.u23610_input_option {
}
#u23611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23611 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:416px;
  width:56px;
  height:16px;
  display:flex;
}
#u23611 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23611_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23612_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u23612_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u23612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23612 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:413px;
  width:106px;
  height:22px;
  display:flex;
}
#u23612 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23612_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23612.disabled {
}
.u23612_input_option {
}
