body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-327px;
  width:844px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u21468 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:181px;
  width:643px;
  height:141px;
}
#u21469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u21469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u21469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u21470 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u21470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u21471 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u21471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u21472 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u21472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u21473 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u21473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:28px;
}
#u21474 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:143px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u21474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u21475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  height:27px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u21475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u21476 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:28px;
  width:100px;
  height:27px;
  display:flex;
}
#u21476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u21477 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:28px;
  width:100px;
  height:27px;
  display:flex;
}
#u21477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u21478 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:28px;
  width:100px;
  height:27px;
  display:flex;
}
#u21478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u21479 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:28px;
  width:100px;
  height:27px;
  display:flex;
}
#u21479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:27px;
}
#u21480 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:28px;
  width:143px;
  height:27px;
  display:flex;
}
#u21480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u21481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21482 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:55px;
  width:100px;
  height:30px;
  display:flex;
}
#u21482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21483 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:55px;
  width:100px;
  height:30px;
  display:flex;
}
#u21483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21484 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:55px;
  width:100px;
  height:30px;
  display:flex;
}
#u21484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21485 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:55px;
  width:100px;
  height:30px;
  display:flex;
}
#u21485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u21486 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:55px;
  width:143px;
  height:30px;
  display:flex;
}
#u21486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u21487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21488 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:85px;
  width:100px;
  height:30px;
  display:flex;
}
#u21488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21489 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:85px;
  width:100px;
  height:30px;
  display:flex;
}
#u21489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21490 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:85px;
  width:100px;
  height:30px;
  display:flex;
}
#u21490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21491 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:85px;
  width:100px;
  height:30px;
  display:flex;
}
#u21491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u21492 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:85px;
  width:143px;
  height:30px;
  display:flex;
}
#u21492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:115px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u21493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21494 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:115px;
  width:100px;
  height:30px;
  display:flex;
}
#u21494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21495 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:115px;
  width:100px;
  height:30px;
  display:flex;
}
#u21495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21496 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:115px;
  width:100px;
  height:30px;
  display:flex;
}
#u21496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21497 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:115px;
  width:100px;
  height:30px;
  display:flex;
}
#u21497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u21498 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:115px;
  width:143px;
  height:30px;
  display:flex;
}
#u21498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21499 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:413px;
  width:56px;
  height:16px;
  display:flex;
}
#u21499 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21499_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21500_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21500_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21500 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:410px;
  width:106px;
  height:22px;
  display:flex;
}
#u21500 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21500_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21500.disabled {
}
.u21500_input_option {
}
#u21501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21501 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:416px;
  width:56px;
  height:16px;
  display:flex;
}
#u21501 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21501_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21502_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21502_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u21502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21502 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:413px;
  width:106px;
  height:22px;
  display:flex;
}
#u21502 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21502_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21502.disabled {
}
.u21502_input_option {
}
